.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  /* background-color: #282c34; */
  min-height: 100vh;
  display: flex;
   /* flex-direction: column; */
  align-items: center;
  justify-content: center; 
  font-size: calc(10px + 2vmin);
  /* color: white; */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.font-italic {
  font-style: italic;
}

.font-bold {
  font-weight: bold;
}

.list-container {
  margin-left: 5rem;
  margin-right: 5rem;

 .list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  padding: 1rem;
  border-radius: 10px;

  &:hover {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  }
 }
}

.search-container {
  display: flex;
  justify-content: center;
  /* margin-left: 10rem;
  margin-right: 10rem; */
}

.ml-5 {
  margin-left: 5rem;
}

.search-results--container {
  margin-top: 5rem;
}

.search-form {
  display: flex;

  input {
    margin-right: 3rem;
  }
}